.itk-slider{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.itk-slider .slide-img{
 width: 70%;
  height: 250px;
}
button {
    width: 50px;
    height: 30px;

}
body{
    background-image: url(https://muztext.com/i/3284751796693925347.jpg);
    background-size: 100% ;
}
.SliderCont{
    text-align: center;
}
.contImgclass{
    width: 300px ;
    height: auto;
    border-radius: 15px;

}
.SliderCont{
    width: 500px;
    height: 400px;
}
.gogol{
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: black;
}